SUBSYSTEM=="pcieuni",	MODE="0666"

KERNEL=="pcieunis3",	SYMLINK="pcieuni0"

ACTION=="add", KERNEL=="pcieunis*", RUN="pcieuni-symlinks add %n"
ACTION=="remove", KERNEL=="pcieunis*", RUN="pcieuni-symlinks remove %n"
