#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	:

override_dh_auto_install:
	dh_install pcieuni_drv.c  pcieuni_fnc.h pcieuni_fnc.c  pcieuni_ioctl_dma.c pcieuni_test.cpp  Makefile /usr/src/pcieuni-1/
	dh_install 10-pcieuni.rules /etc/udev/rules.d/
	dh_dkms
